body,
html {
  overflow-x: hidden !important;
}

header {
  margin-bottom: 20px;
}

body {
  background-color: whitesmoke;
}


#menu {
  color: white;
  font-weight: bolder;
}

#menu.active {
  background-color: white;
  font-size: 38px;
  color: black;
  font-weight: bolder;
  transition: all 0.6s;
}

#menu a {
  font-size: larger;
}

.navbar-fixed-top {
  position: fixed !important;
  top: 0;
  width: 100%;
}

.navbar li {
  font-size: 28px;
  padding: 0 0 0 48px;
  color: white;
}

.logo {
  height: 100px;
}

.fis {
  padding-top: 120px;
}

.ges {
  background-color: white;
  padding-top: 120px;
}

#fiscal {
  background-color: whitesmoke;
}

#gestor {
  background-color: whitesmoke;
}

.mod {
  padding-top: 120px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}

#posturas {

  color: rgb(7, 7, 7);

  text-decoration: none;
  display: inline-block;
  padding: 15px 20px;
  position: relative;
}

#posturas:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: rgb(196, 49, 49);
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

#posturas:hover:after {
  width: 100%;
  left: 0;
}

#obras {
  color: rgb(7, 7, 7);
  text-decoration: none;
  display: inline-block;
  padding: 15px 20px;
  position: relative;
}

#obras:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: rgb(248, 103, 6);
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

#obras:hover:after {
  width: 100%;
  left: 0;
}

#meio-ambiente {
  color: rgb(7, 7, 7);
  text-decoration: none;
  display: inline-block;
  padding: 15px 20px;
  position: relative;
}

#meio-ambiente:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: rgb(6, 223, 42);
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

#meio-ambiente:hover:after {
  width: 100%;
  left: 0;
}


#saude {
  color: rgb(7, 7, 7);
  text-decoration: none;
  display: inline-block;
  padding: 15px 20px;
  position: relative;
}

#saude:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: rgb(6, 20, 223);
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

#saude:hover:after {
  width: 100%;
  left: 0;
}

.footpri {
  margin-bottom: 0px;
}

#contato {
  padding-bottom: 80px;
  margin-top: 50px;

}

/* @media screen and (max-width: 768px) {
  .navbar ul {
    visibility: hidden;
  }


} */