:root {
    --green-3es: #047445;
    --red-3es: #e13339;
    --blue-3es: #35397f;
    --main-background: #fff;
    --secondary-background: #eaeded;
}

body {
    background-color: var(--main-background);
    font-family: 'Roboto', 'Rubik';
}

#solutions-others {
    background: var(--main-background);
}

#contact-us {
    background: var(--secondary-background);
}

#partners {
    background: var(--main-background);
}

#services {
    background-color: var(--main-background);
    min-height: 500px;
}

footer {
    background: #C1D1D6;
}

#about-us {
    background: var(--secondary-background);
}

#solutions-education {
    background: var(--secondary-background);
}

#solutions-esforco-legal {
    background: var(--main-background);
}

#solutions-engenharia {
    background: var(--secondary-background);
}

.logo-img {
    object-fit: fill;
    height: 3rem;

}

.card-3es-img {
    width: 100%;
    height: 50%;
    object-fit: cover;
    object-position: center;
}

.card-solutions-img {
    object-fit: fill;
    height: 100%;
}

.service-side-img {
    background: url(/Assets/Images/simagem\ site\ 3es.png)center no-repeat;
    min-height: 400px;
    margin-bottom: 10px;
    background-size: contain;
}

.card-with-hover:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    transition: 0.8s ease;
}

.h1-underline {
    color: black;
    font-family: 'Rubik';
}

.h1-underline:after {
    display: block;
    content: '';
    border-bottom: solid 4px #6495ED;
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
}

.h1-underline:hover:after {
    transform: scaleX(0.1);
}

.partners-container {
    width: 100%;
    padding: .40rem;
    background-color: transparent;
    height: 100%;
    border: 1px transparent solid;
    will-change: transform;
    transition: transform 450ms;

}

.partners-container:hover {
    transition: transform 125ms;
    transform: translateY(-10px);
}

.partners-img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.contact-icon {
    font-size: 2.5rem;
}

.contact-icon.ci-1 {
    color: var(--blue-3es);

}

.contact-icon.ci-2 {
    color: var(--green-3es)
}

.contact-icon.ci-3 {
    color: var(--red-3es);
}

.hr-20w {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    background: linear-gradient(90deg, rgba(53, 57, 127, 1) 0%, rgba(4, 116, 69, 1) 35%, rgba(225, 51, 57, 1) 100%);
}

.remove-style li {
    list-style-type: none;
}

.main-title {
    font-size: 3.5rem;
    font-weight: 800;
}

.sub-title {
    font-size: 2rem;
    font-weight: 600;
}