.navbar {
    transition: all 0.4s;
}

.navbar .nav-link {
    color: #fff;
}

.navbar .nav-link:hover,
.navbar .nav-link:focus {

    text-decoration: none;
}

.banner {
    height: 100vh;
    min-height: 500px;
    background-image: url('');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

.banner h3 {
    font-weight: 300;
    line-height: 2;
}

/* Alterar a cor da navbar no scroll */
.navbar.active {
    background: var(--main-background);
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
}

.navbar.active .nav-link {
    color: black;
}

.navbar.active .nav-link:hover,
.navbar.active .nav-link:focus {
    color: black;
    text-decoration: none;
}

.navbar.active {
    color: black;
}

/*NÃ£o ficar transparente em mobile */
@media (max-width: 991.98px) {
    .navbar {
        background: #fff;
    }

    .navbar .navbar-brand,
    .navbar .nav-link {
        color: black;
    }
}

.navbar-nav a {
    font-family: 'Concert One';
    font-size: 1.55rem;

}