body,
html {
  overflow-x: hidden !important;
}

header {
  margin-bottom: 20px;
}

body {
  background-color: whitesmoke;
}

/* section {
  /* position: relative; */
/* height: 100vh;
  width: 100vw; */
/* background-image: url(../img/banner.jpg); */
/*height: 100vh;*/
/* min-height: 500px; */
/* background-size: cover; */
/* background-position: center; */
/* background-repeat: no-repeat;
}
  */



#tit {
  font-weight: bolder;
  font-size: 54px;
  color: rgb(255, 255, 255);
  box-shadow: 5px 5px 5px black;

}

#tit2 {
  font-weight: bolder;
  color: rgb(255, 255, 255);
  text-decoration: underline black;
}


#menu {
  color: white;
  font-weight: bolder;
}

#menu.active {
  background-color: white;
  font-size: 38px;
  color: black;
  font-weight: bolder;
  transition: all 0.6s;
}

#menu a {
  font-size: larger;
}

.navbar-fixed-top {
  position: fixed !important;
  top: 0;
  width: 100%;
}

.navbar li {
  font-size: 28px;
  padding: 0 0 0 48px;
  color: white;
}

/* #menu a:focus-within {
  color: rgb(255, 4, 4);
} */

.logo {
  height: 100px;
}


/* #img1 {
  background-image: url(../img/solu1.jfif);
  background-repeat: no-repeat;
  
} */

/* .solu {
  background-color: white;
  margin-top: 0px;
  padding-top: 120px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 40px;
} */

/* #bloc1 {
  padding-bottom: 100px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
} */

/* #card1 {
  transition: all 0.5s;
  cursor: pointer;
}

#card1:hover {
  -webkit-transform: scale(1.0);
  transform: scale(1.0);
} */


.fis {
  padding-top: 120px;
  /* padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 40px; */
}

/* 
#bloc2 {
  padding-bottom: 10px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

} */

/* #c1 {
  height: 300px;
  border-radius: 180px;
}


#c2 {
  height: 300px;
  border-radius: 180px;
}


#c3 {
  height: 300px;
  border-radius: 180px;
} */

.ges {
  background-color: white;
  padding-top: 120px;
  /* padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 40px; */
}

#fiscal {
  background-color: whitesmoke;
}


#gestor {
  background-color: whitesmoke;
}

#span {
  color: black;
}

/* #bloc3 {
  padding-bottom: 10px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
} */


.mod {
  padding-top: 120px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}

/* #bloc4 {
  padding-bottom: 10px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

} */

#posturas {

  color: rgb(7, 7, 7);

  text-decoration: none;
  display: inline-block;
  padding: 15px 20px;
  position: relative;
}

#posturas:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: rgb(196, 49, 49);
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

#posturas:hover:after {
  width: 100%;
  left: 0;
}

#obras {
  color: rgb(7, 7, 7);
  text-decoration: none;
  display: inline-block;
  padding: 15px 20px;
  position: relative;
}

#obras:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: rgb(248, 103, 6);
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

#obras:hover:after {
  width: 100%;
  left: 0;
}

#meio-ambiente {
  color: rgb(7, 7, 7);
  text-decoration: none;
  display: inline-block;
  padding: 15px 20px;
  position: relative;
}

#meio-ambiente:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: rgb(6, 223, 42);
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

#meio-ambiente:hover:after {
  width: 100%;
  left: 0;
}


#saude {
  color: rgb(7, 7, 7);
  text-decoration: none;
  display: inline-block;
  padding: 15px 20px;
  position: relative;
}

#saude:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: rgb(6, 20, 223);
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

#saude:hover:after {
  width: 100%;
  left: 0;
}

/* .fi {
  height: 300x;
  width: 400px;
}  */

.footpri {
  margin-bottom: 0px;
}

#contato {
  padding-bottom: 80px;
  margin-top: 50px;
  /* font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; */
}

/* #copy {
  margin-top: 0px;
} */

@media screen and (max-width: 730px) {
  #but2 {
    background-color: transparent;
    border: none;
    cursor: pointer;
  }

  .open {
    display:block;
  }
}